
.hamburguer-menu {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100px;
}

.hamburguer-menu button {
    background: none;
    color: white;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}

.menu-open {
    visibility: visible;
    position: absolute;
    padding-top: 50px;
    top: 0;
    margin-top: 120px;
    z-index: 1;
    background-color: rgb(19,19,19);
    color: white;
    width: 30%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.menu-open li {
    margin-left: 20%;
    list-style: none;
    font-size: 1.5rem;
}

.menu-closed {
    visibility: hidden;
}

.sub-menu {
    margin-left: 18% !important;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.sub-menu li {
    font-size: 1.2rem;
}

@media screen and (max-width: 690px){
    .menu-open {
        width: 100%;
        align-items: center;
    }

    .menu-open li {
        margin-left: 0;
    }

    .sub-menu {
        margin-left: 0 !important;
    }

    .sub-menu ul{
        align-items: center;
    }
}

.links {
    text-decoration: none;
    color: white;
}